ul {
    list-style-type: none;
    padding-left: 0;
    margin: 5px;
    text-align: left;
  }
  li {
    overflow: hidden;
    margin: 0 0 20px;
    border-bottom: 1px solid #ccc;
    padding: 0 0 20px;
    border-radius: 3px;
  }
  li:hover{
    background: #ccc;
  }
  li:last-child {
    margin: 0;
  }

  img {
    float: left;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px 0 0;
  }
  span {
    display: block;
    width: 100%;
    font-weight: bolder;
  }
  span::first-letter{
    text-transform: capitalize;
  }
  span.index {
    border-radius: 50%
  }

 span.body {
    font-weight: normal;
    line-height: 1.3em;
    color: #999;
    margin-top: 5px;
  }

  .iterateList li{
    display: flex;
    padding: 10px;
    margin-bottom: 0px;
  }

  .iterateList li div:first-child{
    flex: 1;
    align-items: center;
    margin-top: 5px;
  }

  .iterateList li div:last-child{
    flex: 14;
    padding-top: 10px;
  }

  .iterateList li div:first-child span {
    width: 30px;
    height: 30px;
    background: #51adc8;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}