.Button {
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    color: #5C9210;
    border-radius: 3px;
}

.Button:first-of-type {
    margin-left: 0;
}
button:hover {
    color: orange;
}